name: Update Camera Map
on:
  schedule:
    - cron: '30 18 * * 2' # This is Wednesday 4:00 AM Adelaide time (ACDT is UTC+10.5)
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install osmnx gspread requests beautifulsoup4 pandas
      - name: Run Scraper
        env:
          GOOGLE_CREDS: ${{ secrets.GOOGLE_CREDS }}
          SHEET_ID: ${{ secrets.SHEET_ID }}
        run: python scraper.py
